<nav>
    <div class="site-title">
        <a href="/"><h1>Lukes Blog</h1></a>
        <p>An Exercise in Node</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>
